* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

h1, h2, h3 {
  font-weight: bold;
  color: #00698f;
}

a {
  text-decoration: none;
  color: #00698f;
}

a:hover {
  color: #0099cc;
}


header{

 
  background-color:  #00698f;
  justify-content: center;
}
header h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: white;
}
header p {
  font-size: 18px;
  color: #ccc;
}